.product-price{
  font-size: 26px;
  text-align: right;
  margin-bottom: 6px;
}

.quantity-input{
  width: fit-content;
  padding: 6px 6px;
  border-radius: 6px;
  border: 1px solid rgb(230,233,237);
  box-sizing: border-box;

}
